<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="One Page Corporate HTML Template">
    <meta name="author" content="">

    {% block title %}
        <title>restaurant</title>
    {% endblock title %}

    {% block css_file %}
        {% include "restapp/css.html" %}
    {% endblock css_file %}
</head>
<body>
    {% block content %}
    hello
    {% endblock content %}
    
    {% block js_file %}
        {% include "restapp/js.html" %}
    {% endblock js_file %}
</body>
</html>